# 编译文件
__pycache__/
*.py[cod]
*$py.class
*.so

# 打包构建
dist/
build/
eggs/
.eggs/
*.egg-info/
*.egg

# 环境
.venv/
venv/
env/
ENV/
.env
__pypackages__/

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 日志与缓存
*.log
*.txt
.cache/
.pytest_cache/
.coverage
htmlcov/

# 模型与数据（你项目核心！）
checkpoint/*.pth
checkpoint/*.dat

# 系统文件
.DS_Store
/checkpoint.zip
